Repository Cryptonomic/Conseil, pull requests merged in 2020-09, with the labels that each got.

#900 887 - Ethereum bytecode disassembler
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/Utils.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/domain/Bytecode.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/domain/Instruction.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/domain/Opcode.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/EthereumFixtures.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/UtilsTest.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/domain/BytecodeTest.scala
Labels: Eth-Int

#897 887 - Lorre for Ethereum
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/EthereumInMemoryDatabaseSetup.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataRoutesTest.scala
  conseil-common/src/main/resources/reference.conf
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/config/Platforms.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/EthereumPersistence.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/Tables.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/Views.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/domain/Contract.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/domain/Token.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/rpc/EthereumRpcClient.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/rpc/EthereumRpcCommands.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/rpc/json/Transaction.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/ethereum/rpc/json/TransactionRecipt.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/rpc/RpcClient.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/EthereumFixtures.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/EthereumInMemoryDatabaseSetup.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/EthereumPersistenceTest.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/ethereum/rpc/EthereumRpcClientTest.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/Lorre.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/ethereum/EthereumIndexer.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/ethereum/EthereumOperations.scala
  docker-compose.yml
  sql/conseil.sql
Labels: Eth-Int

#906 887 - Updated Ethereum endpoints
  conseil-api/src/main/resources/metadata/ethereum.mainnet.conf
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/openapi/OpenApiDoc.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataEndpoints.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataEndpointsCreator.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataOperations.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataRoutesCreator.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumFilter.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumFilterFromQueryString.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/EthereumInMemoryDatabaseSetup.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/bitcoin/BitcoinDataOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/ethereum/EthereumDataOperationsTest.scala
  conseil-common/src/main/resources/reference.conf
Labels: Eth-Int

#896 187-2 forked data invalidation
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/ApiDataOperations.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataOperations.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataHelpersTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosForkDataOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/discovery/GenericPlatformDiscoveryOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/sql/DefaultDatabaseOperationsTest.scala
  conseil-common-testkit/src/main/scala/tech/cryptonomic/conseil/common/testkit/util/RandomTestKit.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/Fork.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/Tables.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosOptics.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosTypes.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseConversions.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosIndexedDataOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/bigmaps/BigMapsOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/AccountsProcessor.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/BakersProcessor.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/sql/DefaultDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDataGenerationKit.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseCompatibilityVerification.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseConversionsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTestFixtures.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosForkDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosInMemoryDatabaseSetup.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosIndexedDataOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/bigmaps/BigMapsOperationsTest.scala
  project/Dependencies.scala
  sql/conseil.sql
Labels: data enhancement

#905 902 - remove jackson json dependency
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/info/AppInfoRouteTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/discovery/PlatformDiscoveryTest.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/util/JsonUtil.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/util/JsonUtilTest.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosJsonDecoders.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeOperator.scala
  conseil-smoke-tests/src/main/scala/tech/cryptonomic/conseil/smoke/tests/RegressionFixtures.scala
  conseil-smoke-tests/src/main/scala/tech/cryptonomic/conseil/smoke/tests/suites/TezosRegressionSuite.scala
  project/Dependencies.scala
Labels: refactor/tech-debt

#908 Use a typed wrapper to reduce complex tuples for temp data processing
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosOptics.scala
Labels: refactor/tech-debt

#916 Define block-tags in terms of block-references
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosTypes.scala
  conseil-common/src/test/scala/tech/cryptonomic/conseil/common/tezos/TezosTypesTest.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseConversions.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeOperator.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/AccountsProcessor.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/BakersProcessor.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseConversionsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTestFixtures.scala
Labels: refactor/tech-debt

#915 Turn the AccountId type to an alias for Public Key Hash
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataOperations.scala
  conseil-api/src/main/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataRoutes.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosDataOperationsTest.scala
  conseil-api/src/test/scala/tech/cryptonomic/conseil/api/routes/platform/data/tezos/TezosForkDataOperationsTest.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosOptics.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosTypes.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseConversions.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosJsonDecoders.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNamesOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeFetchers.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeOperator.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/bigmaps/BigMapsOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/michelson/contracts/TNSContract.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/michelson/contracts/TokenContracts.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/AccountsProcessor.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTestFixtures.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosForkDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosJsonDecodersTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/michelson/contracts/StakerDaoTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/michelson/contracts/TNSContractsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/michelson/contracts/TokenContractsTest.scala
Labels: refactor/tech-debt

#898 187-3 fork handling simulation
  conseil-common-testkit/src/main/scala/tech/cryptonomic/conseil/common/testkit/InMemoryDatabase.scala
  conseil-common-testkit/src/main/scala/tech/cryptonomic/conseil/common/testkit/InMemoryDatabaseSetup.scala
  conseil-common-testkit/src/main/scala/tech/cryptonomic/conseil/common/testkit/util/RandomTestKit.scala
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/Tables.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/ForkAmender.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperations.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosForkInvalidatingAmender.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forking/ForkHandler.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forking/ForkHandlingScenariosFixtures.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forking/ForkHandlingScenariosSpec.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDataGenerationKit.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosForkDatabaseOperationsTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosInMemoryDatabaseSetup.scala
  project/Dependencies.scala
  sql/conseil.sql
Labels: data enhancement, enhancement

#899 187-4 Add a consistency check for the tezos-specific fork detector
  conseil-common/src/main/scala/tech/cryptonomic/conseil/common/tezos/TezosTypesInstances.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/ConsistentForkDetector.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/ConsistentForkDetectorSpec.scala
Labels: enhancement

#903 187-5 fork handler integrated into tezos indexer
  conseil-api/src/main/resources/logback.xml
  conseil-api/src/main/resources/metadata/tezos.carthagenet.conf
  conseil-api/src/main/resources/metadata/tezos.mainnet.conf
  conseil-api/src/test/resources/logback-test.xml
  conseil-common/src/test/resources/logback-test.xml
  conseil-lorre/src/main/resources/logback.xml
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/forks/ForkAmender.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/forks/ForkDetector.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/forks/ForkHandler.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosIndexer.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeOperator.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/forks/ConsistentForkDetector.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/forks/TezosForkInvalidatingAmender.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/forks/TezosForkSearchEngine.scala
  conseil-lorre/src/main/scala/tech/cryptonomic/conseil/indexer/tezos/processing/ForksProcessor.scala
  conseil-lorre/src/test/resources/logback-test.xml
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forks/ForkDetectorSpec.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forks/ForkHandlingScenariosFixtures.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/forks/ForkHandlingScenariosSpec.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosDataGenerationKit.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/TezosNodeOperatorTest.scala
  conseil-lorre/src/test/scala/tech/cryptonomic/conseil/indexer/tezos/forks/ConsistentForkDetectorSpec.scala
  conseil-schema/src/main/resources/logback.xml
  conseil-smoke-tests/src/main/scala/tech/cryptonomic/conseil/smoke/tests/RegressionRun.scala
  conseil-smoke-tests/src/main/scala/tech/cryptonomic/conseil/smoke/tests/suites/TezosRegressionSuite.scala
Labels: enhancement
